html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: #000;
  }
  
  #map {
    display: block;
    width: 100vw;
    height: 100vh;
    touch-action: none;
    image-rendering: pixelated;
  }
  